* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.har-flix {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-around;
  box-shadow: 1px 1px 145px 1px rgb(99, 99, 99);
}
nav > a {
  padding: 10px;
  color: black;
  font-size: 25px;
}
.log {
  width: 470px;
  height: 500px;
  margin: auto;
}
.log {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 6px 6px 10px 0.5px rgb(51, 51, 51);
}
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

form > h1 {
  margin: 20px;
}

form > input {
  margin: 15px;
  padding: 5px;
  width: 390px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  transition: all 1.5s;
}
form > input:hover {
  font-weight: bold;
  border: 1px solid rgb(39, 252, 56);
  
}
.sign {
  border: none;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px 5px rgb(145, 145, 145);
}
.or {
  color: black;
  font-size: 20px;
  text-underline-offset: 5px;
}
.link-so {
  margin: 15px;
  display: flex;
  text-align: center;
  
}
.a-Facebook {
  width: 50%;
  padding: 15px;
  color: white;
  margin-right: 5px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #267aee; 
}
.a-Google {
  width: 50%;
  padding: 15px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  background-color: #fc0f09; 
}